TelegramWatsonIntegration
[{"id":"1da54030.6f5f88","type":"tab","label":"Watson and Telegram integration","disabled":false,"info":""},{"id":"a5d5418c.c84ec8","type":"telegram bot","z":"","botname":"Watson_b_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"62a2e818.c19ef8","type":"telegram bot","z":"","botname":"Watson_b_bot","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"verboselogging":false},{"id":"48d79040.ef4e1","type":"telegram sender","z":"1da54030.6f5f88","name":"","bot":"a5d5418c.c84ec8","x":1393,"y":300.97222900390625,"wires":[[]]},{"id":"38172a9a.7a70ee","type":"change","z":"1da54030.6f5f88","name":"strip meta","rules":[{"t":"set","p":"msg_meta","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"payload.content","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":389.27789306640625,"y":207.52774047851562,"wires":[["6627377f.4a266","e59a26f5.7a9c1"]]},{"id":"4e87b6f2.36ea38","type":"change","z":"1da54030.6f5f88","name":"add meta","rules":[{"t":"set","p":"msg_meta.content","pt":"flow","to":"payload.output.text[0]","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"msg_meta","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":1113.5,"y":289.97222900390625,"wires":[["48d79040.ef4e1","ea4123ca.79dce8"]]},{"id":"6627377f.4a266","type":"watson-conversation-v1","z":"1da54030.6f5f88","name":"Plant helper","workspaceid":"8d8acaef-de86-4279-8a36-2b2a541bd540","multiuser":false,"context":true,"empty-payload":false,"default-endpoint":true,"service-endpoint":"https://gateway.watsonplatform.net/assistant/api","timeout":"","optout-learning":false,"x":646,"y":393.97222900390625,"wires":[["55ac97a1.14b84","ab56fb73.92101"]]},{"id":"8cb1c1fd.b00bc8","type":"debug","z":"1da54030.6f5f88","name":"telegram query","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":353.3334045410156,"y":143.52777099609375,"wires":[]},{"id":"e59a26f5.7a9c1","type":"debug","z":"1da54030.6f5f88","name":"being sent to watson assistant","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":639,"y":149.30555725097656,"wires":[]},{"id":"55ac97a1.14b84","type":"debug","z":"1da54030.6f5f88","name":"watson assist response","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":945,"y":200.97222900390625,"wires":[]},{"id":"ea4123ca.79dce8","type":"debug","z":"1da54030.6f5f88","name":"being sent to telegram","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1377,"y":210.97222900390625,"wires":[]},{"id":"858e33bc.f8f3f8","type":"inject","z":"1da54030.6f5f88","name":"","topic":"","payload":" ethylene","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":"","x":549.4999389648438,"y":2710.972343444824,"wires":[["ec5f08a.72456f8","7c9b9a42.1fb5a4"]]},{"id":"b38e8996.f0f998","type":"function","z":"1da54030.6f5f88","name":"","func":"msg.discoveryparams = {};\n//msg.discoveryparams.environment_id = 'system';\n//msg.discoveryparams.collection_id = 'news-en';\n//msg.nlp_query = true;\nmsg.query =  msg.payload;\nreturn msg;","outputs":1,"noerr":0,"x":711.4999389648438,"y":2791.972343444824,"wires":[["7c9b9a42.1fb5a4"]]},{"id":"ec5f08a.72456f8","type":"watson-discovery-v1","z":"1da54030.6f5f88","name":"demo discovery","environmentname":"","environment_id":"system","collection_id":"news-en","configurationname":"","configuration_id":"","collection_name":"","count":"10","passages":true,"nlp_query":false,"query":"","filter":"","aggregation":"","return":"","description":"","size":0,"discovery-method":"query","default-endpoint":false,"service-endpoint":"","x":976.4999389648438,"y":2705.972343444824,"wires":[["afe3a724.b2d93"]]},{"id":"afe3a724.b2d93","type":"debug","z":"1da54030.6f5f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"search_results","targetType":"msg","x":1313.4999389648438,"y":2699.972343444824,"wires":[]},{"id":"7c9b9a42.1fb5a4","type":"debug","z":"1da54030.6f5f88","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":988.9999389648438,"y":2806.972343444824,"wires":[]},{"id":"5cbb2709.87c48","type":"switch","z":"1da54030.6f5f88","name":"Check with Discovery?","property":"payload.output.nodes_visited[0]","propertyType":"msg","rules":[{"t":"eq","v":"Anything else","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1206,"y":755.9722900390625,"wires":[["efbf51ec.10b7d"],["40cf4a9c.d57564"]]},{"id":"40cf4a9c.d57564","type":"debug","z":"1da54030.6f5f88","name":"Data dump if not using Discovery","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1669.9999389648438,"y":843.9722290039062,"wires":[]},{"id":"dea5227a.e96898","type":"debug","z":"1da54030.6f5f88","name":"discovery result","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2029,"y":709.9722290039062,"wires":[]},{"id":"106515cd.6d95e2","type":"debug","z":"1da54030.6f5f88","name":"discovery input","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1689.9999389648438,"y":596.4166259765625,"wires":[]},{"id":"efbf51ec.10b7d","type":"function","z":"1da54030.6f5f88","name":"Set up for discovery","func":"msg.discoveryparams = {};\nmsg.discoveryparams.query = msg.payload.input.text\nreturn msg;","outputs":1,"noerr":0,"x":1464.5,"y":703.9722290039062,"wires":[["106515cd.6d95e2","392c1c70.b58bd4"]]},{"id":"54875a05.f1a61c","type":"telegram sender","z":"1da54030.6f5f88","name":"","bot":"a5d5418c.c84ec8","x":2655.8330688476562,"y":701.1944351196289,"wires":[[]]},{"id":"59e8b304.82ff5c","type":"debug","z":"1da54030.6f5f88","name":"being sent to telegram","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":2592.16650390625,"y":572.1943969726562,"wires":[]},{"id":"392c1c70.b58bd4","type":"watson-discovery-v1","z":"1da54030.6f5f88","name":"Discovery","environmentname":"","environment_id":"eb7bd2c1-81f8-423f-a1dc-9aa5180d6b6e","collection_id":"fdff57f9-ce83-4733-9acd-e826eeec1144","configurationname":"","configuration_id":"","collection_name":"","count":"10","passages":true,"nlp_query":true,"query":"","filter":"","aggregation":"","return":"","description":"","size":0,"discovery-method":"query","default-endpoint":false,"service-endpoint":"","x":1804.5,"y":710.9722290039062,"wires":[["dea5227a.e96898","d3b0ca7b.26042"]]},{"id":"d3b0ca7b.26042","type":"function","z":"1da54030.6f5f88","name":"Format results","func":"messages = new Array()\nmessages[0] =  \"Here are a couple of passages you might find useful: \"\nnumber_of_results = Math.min(global.get(\"MAX_RESULTS\"), msg.search_results.passages.length )\nfor ( i = 0; i< number_of_results; i++){\n    \n    messages[i+1] = msg.search_results.passages[i].passage_text\n    \n}\n\nmsg.payload = messages\nreturn msg;","outputs":1,"noerr":0,"x":1995.7776489257812,"y":619.1943969726562,"wires":[["6df9a7f8.413c4"]]},{"id":"d0200808.515c9","type":"change","z":"1da54030.6f5f88","name":"add meta","rules":[{"t":"set","p":"msg_meta.content","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"msg_meta","tot":"flow"}],"action":"","property":"","from":"","to":"","reg":false,"x":2365.5,"y":627.9722213745117,"wires":[["59e8b304.82ff5c","54875a05.f1a61c"]]},{"id":"6df9a7f8.413c4","type":"split","z":"1da54030.6f5f88","name":"","splt":"\\q","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":2195.4443359375,"y":624.7499694824219,"wires":[["5506cc4e.5b3b64","d0200808.515c9"]]},{"id":"5506cc4e.5b3b64","type":"debug","z":"1da54030.6f5f88","name":"Results before meta added","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":2392.3333129882812,"y":785.305549621582,"wires":[]},{"id":"33754a52.aa1516","type":"function","z":"1da54030.6f5f88","name":"Set Max Results","func":"global.set(\"MAX_RESULTS\", 4)\n","outputs":1,"noerr":0,"x":333.68060302734375,"y":36.527809143066406,"wires":[[]]},{"id":"b4be6938.536dc8","type":"telegram receiver","z":"1da54030.6f5f88","name":"","bot":"a5d5418c.c84ec8","saveDataDir":"","x":95,"y":212.72223663330078,"wires":[["33754a52.aa1516","8cb1c1fd.b00bc8","38172a9a.7a70ee"],[]]},{"id":"ab56fb73.92101","type":"function","z":"1da54030.6f5f88","name":"","func":"msg.payload.output.nodes_visited[0] = msg.payload.output.nodes_visited[\n    msg.payload.output.nodes_visited.length - 1\n    ];\n    \nmsg.payload.output.text[0] = msg.payload.output.text[\n    msg.payload.output.text.length - 1\n    ];\n    \n    \nreturn msg;","outputs":1,"noerr":0,"x":861.5,"y":384,"wires":[["5cbb2709.87c48","4e87b6f2.36ea38","8846223a.88f6b8"]]},{"id":"8846223a.88f6b8","type":"debug","z":"1da54030.6f5f88","name":"Assistant with just one node","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":1143.5,"y":434,"wires":[]}]
